
.profile_pic{
  height: 300px;
  width: 300px;
  position: absolute;
  right:400px;
  top: 30px;
  border-radius: 200px 200px 200px 200px;

}


mat-card-content{
  position: absolute;
  right: 47%;

}

p{
  position: relative;
  top: 40px;
 
}